body {
    margin: 0;
    background: black;
    overflow: hidden;
    /*width: 100vw;*/
    /*height: 100vh;*/
    color: white;
    text-align: left;
}

#container {
    position: relative;
}
#overlay{
    padding: 25px 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 1;
}
#container canvas, #overlay {
    position: absolute;
}
canvas {
    width: 100vw;
    height: 100vh;
}
